{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Ana səhifə | Centurion</title>
{% endblock %}

{% block main %}
    <div class="wrapper wrapper-content">

        <div class="row">
            <div class="col-lg-offset-2 col-lg-8">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Ambar</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-xs-7 content">
                                <h1 class="no-margins text-navy">{{ get_total_stock }}</h1>
                                <i class="fa fa-level-up font-bold text-navy"></i>
                                <small>Ambar satış dəyəri</small>
                            </div>
                            <div class="col-xs-7 content">
                                <h1 class="no-margins text-navy">{{ total_purchase_price_stock }}</h1>
                                <i class="fa fa-level-up font-bold text-navy"></i>
                                <small>Ambar maya dəyəri</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-offset-2 col-lg-8">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Mədaxil və məxaric</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-xs-7 content">
                                <h1 class="no-margins text-navy">{{ money_amount }}</h1>
                                <i class="fa fa-level-up font-bold text-navy"></i>
                                <small>Aylıq mədaxil</small>
                            </div>
                            <div class="col-xs-3 content">
                                <h1 class="no-margins text-warning">{{ expence_amount }}</h1>
                                <i class="fa fa-level-up font-bold text-warning"></i>
                                <small>Aylıq məxaric</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
{% endblock %}
