{% extends "base.html" %}
{% load static %}

{% block title %}
  <title>Mədaxil listi</title>
{% endblock %}

{% block main %}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Təfərrüatla</h5>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTables-example" >
                            <thead>
                                <tr>
                                    <th>Tarix</th>
                                    <th>Məbləğ</th>
                                    <th>Mədaxil</th>
                                    </tr>
                            </thead>
                            <tbody>
                                {% for object in object_list %}
                                <tr class="row-cursor" title="Əlavə məlumat üçün tıklayın">
                                    <td><a href="{{ object.get_detail }}">{{ object.date }}</a></td>
                                    <td>{{ object.amount }}</td>
                                    <td>{{ object.incoming|yesno:"Hə,Yox"  }}</td>
                                    <td class="text-center"><a class="btn btn-primary btn-sm"href="{{ object.get_absolute_url }}">Dəyiş</a><a class="btn btn-danger btn-sm" href="{{ object.get_delete }}">Sil</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% if is_paginated %}
                            {% include "paginator_foot.html" %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}