{% extends "base.html" %}
{% load static %}

{% block title %}
  <title>Müştərini sil</title>
{% endblock %}

{% block main %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h4>Müştərini sil</h4>
            </div>
            <div class="ibox-content">
                <form method="post" class="form-horizontal">
                    {% csrf_token %}
                    <h3>Silinmiş müştərini bərpa etmək mümkün deyil. <a href="{{ object.get_absolute_url }}"></a></h3>
                    <div class="hr-line-dashed"></div>
                    <p>Silmək istıdiyinizə əminsinizmi? <strong>Ad: {{ object.name }} - Telefon: {{ object.phone }}</strong>.</p>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-5">
                            <input type=button value="Geriyə" class="btn btn-white" onClick="javascript:history.go(-1);"></input>
                            <button class="btn btn-danger" type="submit">Silmək</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}